.hero {
    background-image: url('../../assets/hero.png');
    background-size: cover;
    background-position: 68%;
    background-repeat: no-repeat;
    height: 120vh;
}

.hero__content {
    width: 68%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.hero__content--btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}