.intro {
    background-image: url('../../assets/woman_in_sports_bra.png');
    background-size: cover;
    background-position: 30%;
    background-repeat: no-repeat;
    height: 100vh;
    scroll-snap-align: start;
}

.intro__grid {
    display: grid;
    height: 100vh;
}

.intro__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    max-width: 350px;
}

.intro__content a {
    width: fit-content;
}


/* Media Queries */

@media (min-width: 500px) {
    .intro__grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        height: 100vh;
    }

    .intro__content {
        grid-column: 3/-1;
    }
}

@media (min-width: 768px) {
    .intro__content {
        grid-column: 3/6;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .intro__content {
        grid-column: 4/6;
    }
}