.facility {
    background-image: url('https://images.unsplash.com/photo-1591343395082-e120087004b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.facility__overlay {
    background-color: rgba(0, 0, 0, 0.58);
    height: 100%;
}

.facility__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: min(100%, 450px);
    margin: auto;
    gap: .5rem;
}

.facility__content p {
    width: min(100%, 350px);
    margin: 0 auto;
}