.facility {
    background-image: url('https://images.unsplash.com/photo-1591343395082-e120087004b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.facility__overlay {
    background-color: rgba(0, 0, 0, 0.58);
    height: 100%;
}

.facility__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}