.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    z-index: 1;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nav__logo figure {
    width: 1.5rem;
    height: 2.2rem;

}

.nav__logo figure img {
    width: 100%;
    height: 100%;
}

.nav__logo p {
    color: var(--primary);
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: 'Bebas Neue', cursive;
}

.nav__icon {
    cursor: pointer;
}