.programs {
    background: linear-gradient(180deg, #484554 8.58%, #181818 88.69%);
    padding: 2rem 0;
    text-align: center;
}

.programs__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
}